<div class="container-post card col-md-10">
  <funta-header-post></funta-header-post>
  <div>
      <p>
          Each feed type should be in different color. User should be able to Post Activity in following categories: Each
          activity can be maintained in the Profile which performed it. Essentially, this will be one Profile document in
          NOSQL. Profile can not be deleted. Please have “IsActive” flag as false to mark it deleted.
        </p>
  </div>
  <funta-footer-post></funta-footer-post>
</div>

<!--https://bootsnipp.com/snippets/gvkk0-->
