<ul class="list" id="container-list-of-pets">
  <li>
    <div>
      <p>Belfie</p>
      <div>
          <img  class="img-responsive img-rounded" src="../../../assets/img/1.jpg" alt="">
      </div>
    </div>
  </li>
  <li>
    <div>
      <p>Max</p>
      <div>
      	<img  class="img-responsive img-rounded" src="../../../assets/img/2.jpg" alt="">
      </div>
    </div>
  </li>
  <li>
    <div>
      <p>Tobi</p>
      <div>
        <img class="img-responsive img-rounded"  src="../../../assets/img/3.jpg" alt="">
      </div>
    </div>
  </li>
  <li>
    <div>
      <p>Coco</p>
      <div>
        <img class="img-responsive img-rounded" src="../../../assets/img/4.png" alt="">
      </div>
    </div>
  </li>
</ul>
