<div id="notification">
  <ul id="container-notification">
    <li>
      <span class="badge">6</span>
      <i (click)="showLikes()" class="glyphicon glyphicon-heart"></i>
    </li>
    <li>
      <span class="badge">5</span>
      <i (click)="showComment()" class="glyphicon glyphicon-comment"></i>
    </li>
    <li>
      <span class="badge">12</span>
      <i (click)="showFriends()" class="glyphicon glyphicon-user"></i>
    </li>
  </ul>
</div>
<div id="container-show-notification" (click)="CloseModal()" *ngIf="ShowModal">
  <div class="wrapper-show-notification"
    (@slideInOut.done)="animationDone($event)"
    (@slideInOut.start)="animationStarted($event)"
    [@slideInOut]="currentState">
    <div id="container-logo">
      <i [ngClass]="['glyphicon', icon]"></i>
      <i id="count-notification">12</i>
    </div>
    <ul id="container-text-notification">
      <ng-template ngFor let-contact [ngForOf]="[1,2,3,4,5]">
        <ng-container *ngTemplateOutlet="friend">

        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>

<ng-template #friend>
  <li>
    <div class="pull-left container-img">
      <img class="img-circle" src="../../../assets/img/avatar.png" alt="">
    </div>
    <div class="container-txt">
      <p><b>Bill Gates</b> Requested join with you</p>
    </div>
  </li>
</ng-template>

<ng-template #comment>
  <li>
    <div class="pull-left container-img">
      <img class="img-circle" src="../../../assets/img/avatar.png" alt="">
    </div>
    <div class="container-txt">
      <p><b>Bill Gates</b> Requested join with you</p>
    </div>
  </li>
</ng-template>

<ng-template #notification>
  <li>
    <div class="pull-left container-img">
      <img class="img-circle" src="../../../assets/img/avatar.png" alt="">
    </div>
    <div class="container-txt">
      <p><b>Bill Gates</b> notification join with you</p>
    </div>
  </li>
</ng-template>
