<ng2-slim-loading-bar [color]="'blue'" [height]="'4px'"></ng2-slim-loading-bar>
<!-- - `position` - The window position where the toast pops up. Default value is `bottom-right`. Possible values: `bottom-right`, `bottom-left`, `bottom-fullwidth` `top-right`, `top-left`, `top-fullwidth`,`top-center`, `bottom-center`, `center-center` -->
<ngx-toasta [position]="'top-center'"></ngx-toasta>
<funta-navbar></funta-navbar>

<div class="container-fluid">
  <div class="row">
    <funta-sidebar *ngIf="true"></funta-sidebar>
    <div class="col-md-8 col-sm-6 main-content">
      <router-outlet></router-outlet>
    </div>
    <funta-list-of-friend></funta-list-of-friend>
  </div>
