.container-event {
  margin: 5% 0;
  .wrapper {
    background: url(http://c.boylett.uk/images/wallpapers/002.jpg);
    background-size: 100% 100%;

    .container-event {
      width: 615px;
      height: 394px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
      & > .cover {
        position: relative;
        height: 260px;
        background: transparent center no-repeat;
        background-size: 100% auto;
        border-radius: 2px 2px 0 0;

        & > label {
          position: absolute;
          top: 22px;
          left: -33px;
          height: 33px;
          padding: 0 30px 0 63px;
          line-height: 33px;
          vertical-align: middle;
          font-family: sans-serif;
          font-size: 13px;
          text-transform: uppercase;
          color: #fff;
          text-shadow: 0 1px 2px #000;
          background: rgba(136, 86, 168, 0.6);

          & > i {
            position: absolute;
            top: 0;
            left: 0;
            > svg {
              margin: 8px;
            }
          }
        }

        & > .download {
          display: block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          width: 47px;
          height: 47px;
          background: rgba(51, 193, 210, 0.6);
          border-radius: 100%;
          &:hover {
            background: #33c1d2;
          }

          & > svg {
            margin: 12px 10px 0;
          }
        }
      }

      & > .info {
        position: relative;
        height: 134px;
        overflow: hidden;
        border-radius: 0 0 2px 2px;
        & > .recipe {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 134px;
          height: 134px;
          background: #8856a8;
          font-family: sans-serif;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          border-radius: 0 0 0 2px;
          &:hover {
            background: #9967b9;
          }
          & > i {
            display: block;
            margin: 38px 0 15px;
          }
        }

        & > .content {
          position: absolute;
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 154px;
          font-family: sans-serif;
          font-size: 14px;
          color: #888;
          strong {
            font-weight: normal;
            color: #333;
          }
          .pad-right {
            padding-right: 20px;
          }
          .border-right {
            border-right: 1px solid #d9d9d9;
          }
          .consumers {
            img,
            span {
              display: inline-block;
              width: 32px;
              height: 32px;
              margin: 0 2px 0 0;
              line-height: 32px;
              vertical-align: middle;
              border-radius: 100%;
            }
            span {
              margin: 0;
            }
            h1 {
              margin: 0 0 10px;
              font-size: 26px;
              font-weight: normal;
              color: #333;
            }
          }
          .stars {
            &,
            & > em {
              display: block;
              width: 99px;
              height: 18px;
              margin: 0 auto 7px;
              text-align: left;
              background: url(http://c.boylett.uk/generic/image_png_00004.png);
            }
            & > em {
              width: 99px;
              height: 18px;
              margin: 0;
              background: url(http://c.boylett.uk/generic/image_png_00004.png);
              background-position: 0 -18px;
            }
          }
        }
      }
    }
  }
}
